[Desktop Entry]
Type=Application
Exec=flatpak run org.flameshot.Flameshot
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Flameshot
Name=Flameshot
Comment[en_US]=Run Flameshot via flatpak
Comment=Run Flameshot via flatpak
