[Desktop Action Quit]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=nextcloud com.nextcloud.desktopclient.nextcloud --quit
Icon=nextcloud
Name=Quit Nextcloud

[Desktop Entry]
Actions=Quit;
Categories=Utility;X-SuSE-SyncUtility;
Comment=Nextcloud desktop synchronization client
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=nextcloud --file-forwarding com.nextcloud.desktopclient.nextcloud @@u %u @@
GenericName=Folder Sync
Icon=com.nextcloud.desktopclient.nextcloud
Implements=org.freedesktop.CloudProviders
Keywords=Nextcloud;syncing;file;sharing;
MimeType=application/vnd.nextcloud;x-scheme-handler/nc;
Name=Nextcloud Desktop
Type=Application
X-Flatpak=com.nextcloud.desktopclient.nextcloud
X-GNOME-Autostart-Delay=3

[org.freedesktop.CloudProviders]
BusName=com.nextcloudgmbh.Nextcloud
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 com.nextcloud.desktopclient.nextcloud
ObjectPath=/com/nextcloudgmbh/Nextcloud
